// primary colors
$black: #323232;
$dk-gr: #2e4053;
$md-gr: #5d6d7e;
$lt-gr: #aeb6bf;
$white: #ffffff;

// secondary colors

$red: #e74c3c;
$green: #9ccc65;
$dk-grn: #a0c49d;
$md-grn: #c4d7b2;
$lt-grn: #e1ecc8;
$pale-grn: #f7ffe5;

$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

/* width mixin */
$width: 100%;
